body {
  background-color: #0c0910;
  color: #a393bf;
  font-family: "Switzer", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#status {
  border-radius: 25px;
  width: 20px;
  height: 20px;
}

[status="healthy"] {
  background-color: #1adb1a;
}
[status="unhealthy"] {
  background-color: red;
}
[status="unknown"] {
  background-color: #ffbb00;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Clash Grotesk", sans-serif;
  gap: 5px;
  h1 {
    color: #9882ac;
    font-size: 3rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#chat {
  /* border-radius: 5px; */
  background-color: rgba(138, 43, 226, 0.5);
  border: 2px dotted #453750;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 50%;
  font-size: 1.7em;
  ul { 
  list-style-type: none;
  }
  /* max-width: 75%; */
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  button {
    background-color: rgba(255, 255, 255, 1);
    /* border-radius: 10px; */
    width: 30px;
    height: 30px;
    padding: 2px;
    transition-duration: 0.4s;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
  }
  input {
    /* border-radius: 10px; */
    padding: 2px;
    height: 25px;
    border: none;
  }
}

#polls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50vw;
  max-height: 50vh;
  border: 2px dotted #453750;
  text-align: center;
  .poll {
    font-size: 2rem;
    background-color: rgb(32, 89, 223, 0.5);
    width: 50vw;
    /* border-radius: 5px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    .poll-buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
}

button {
  color: #0c0910;
  background-color: #a393bf;
  font-weight: bold;
  font-size: 1.75rem;
  /* border-radius: 10px; */
  padding: 4px;
  margin: 4px;
  transition-duration: 0.4s;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #9882ac;
}

button:disabled {
  background-color: #9882ac;
  cursor: not-allowed;
}